<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index - appportal</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=pAGv4ietcJNk_EwsQZ5BN9-K4MuNYS2a9wl4Jw-q9D0" />
    <link rel="stylesheet" href="/css/appportal.styles.css?v=_V6F0VBaD4l80uK_P6cLQAYCPHVna_7qCcb8Z1RKvio" />
</head>
<body>
    <header b-155f77vljn>
        <nav b-155f77vljn class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-155f77vljn class="container-fluid">
                <a class="navbar-brand" href="/">appportal</a>
                <button b-155f77vljn class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-155f77vljn class="navbar-toggler-icon"></span>
                </button>
                <div b-155f77vljn class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-155f77vljn class="navbar-nav flex-grow-1">
                        <li b-155f77vljn class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li b-155f77vljn class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div b-155f77vljn class="container">
        <main b-155f77vljn role="main" class="pb-3">
            

<h1>Index</h1>

<p>
    <a href="/Email/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Content
            </th>
            <th>
                Sender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
            <td>
                <a href="/Email/Edit/0">Edit</a> |
                <a href="/Email/Details/0">Details</a> |
                <a href="/Email/Delete/0">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<h1>Edit</h1>

<h4>Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Email/Edit/0" method="post">
            
            <input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="0" />
            <div class="form-group">
                <label class="control-label" for="Name">Name</label>
                <input class="form-control" type="number" data-val="true" data-val-required="The Name field is required." id="Name" name="Name" value="1" /><input name="__Invariant" type="hidden" value="Name" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Content">Content</label>
                <input class="form-control" type="number" data-val="true" data-val-required="The Content field is required." id="Content" name="Content" value="2" /><input name="__Invariant" type="hidden" value="Content" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Content" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Sender">Sender</label>
                <input class="form-control" type="number" data-val="true" data-val-required="The Sender field is required." id="Sender" name="Sender" value="3" /><input name="__Invariant" type="hidden" value="Sender" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Sender" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HDGVfUC_JpNhOezZjRbKO0aQHabIbTP3PD3TULplU7Fax4a0fTmJlzIHFi44_qmpjZR0lhHL4ypVp2zPgMLuW14bVB9VpPFAXl4MAOOU0vokR_Y-MRTZyecjUdrFpc8H0RCAf2pQopuiEgolCSfhlw" /></form>
    </div>
</div>

<div>
    <a href="/Email">Back to List</a>
</div>

        </main>
    </div>

    <footer b-155f77vljn class="border-top footer text-muted">
        <div b-155f77vljn class="container">
            &copy; 2023 - appportal - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    
</body>
</html> 




